main {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-gap: 0px;
}

app-square {
  border: 1px black solid;
  border-bottom: 0;
  height: 200px;
}

button{
  margin-bottom: 5px  ;
}

